<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>
<body>
	<header>
		<nav>
			<ul class="nav nav-tabs">
			  
			  <li role="presentation" id="nav_reg" v-on:click="nav_event"><a href="#">Register</a></li>
			  <li role="presentation" id="nav_login" v-on:click="nav_event"><a href="#">Login</a></li>
			</ul>
		</nav>
	</header>
	<br>
	<section>

    

    	 <div id="reg_form" v-if="seen">  
    	 	<div class="col-lg-2">
	 			<h1>
				Register
				</h1>
				<p>{{ info }}</p>
	    		<form >
				  <p>
				  	<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" v-model="username">
			 	</p>
			 	 <p>
				  	<input type="email" class="form-control" placeholder="email@email.com" aria-describedby="basic-addon1" v-model="email">
				 </p> 
			 	<p>
				  	<input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" v-model="password">
				 </p> 
				
				 <p>
				 	<button type="button" v-on:click="register_submit" class="btn btn-default">Register</button>
				 </p> 
				</form>

			</div>
    	 </div> 

    	<div  id="login_form" v-if="seen">
    		<div class="col-lg-2">
    			<h1>
    				Login
    			</h1>
    			<p>{{ info }}</p>
	    		<form >
				  <p>
				  	<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" v-model="username">
			 	</p>
			 	<p>
				  	<input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" v-model="password">
				 </p> 
				 <p>
				 	<button type="button"  v-on:click="login_submit" class="btn btn-default">Login</button>
				 </p> 
				</form>

			</div>
    	</div>   

    	<div id="timestamps" v-if="seen">
    		 <p>
				 <button type="button"  v-on:click="times_submit" class="btn btn-default">Get timestamps</button>
			</p> <br>
			 <div id="stamps"></div>
			 <div v-for="n in timestamp">{{ n }}</div>
    	</div>


    

   
    </section>



</body>

<script type="text/javascript" src="./vuemodels.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</html>

